<% provide(:title, "Edit textbooks") %>
<h1>Edit your textbooks</h1>

<div class="row">
	<div class="span6 offset 3">
		<%= form_for(@textbook) do |f| %>
			<%= render 'shared/error_messages' %>

			<%= f.label :title %>
			<%= f.text_field :title %>

			<%= f.label :author %>
			<%= f.text_field :author %>

			<%= f.label :course %>
			<%= f.text_field :course %>

			<%= f.label :isbn %>
			<%= f.text_field :isbn %>

			<%= f.label :version %>
			<%= f.text_field :version %>

			<%= f.label :price %>
			<%= f.text_field :price %>

			<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>