<% provide(:title, @user.name) %>
<div class="row">
	<aside class="row">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>

		<h2>Textbooks for sale</h2>
		<table class="table table-striped">
			<thead>	
				<tr>
					<th data-field="title">Title</th>
					<th data-field="author">Author</th>
					<th data-field="course">Course</th>
					<th data-field="isbn">ISBN</th>
					<th data-field="version">Version</th>
					<th data-field="price">Price</th>
					<th data-field="edit"> </th>
				</tr>
			</thead>
			<tbody>
					<% @user.textbooks.each do |textbook| %>
						<tr>
							<td><%= textbook.title %></td>
							<td><%= textbook.author %></td>
							<td><%= textbook.course %></td>
							<td><%= textbook.isbn %></td>
							<td><%= textbook.version %></td>
							<td><%= textbook.price %></td>

							<% if current_user.admin? || current_user.id == textbook.user_id %>
								<td><%= link_to "Edit", edit_textbook_path(textbook) %></td>
								<td><%= link_to "Delete", textbook, method: :delete,
  								  data: { confirm: "Would you like to delete this textbook?" } %></td>
							<% end %>
						</tr>
					<% end %>
			</tbody>
		</table>

		
	</aside>
</div>